<div class="hospitalization-container">
  <h2 class="section-title">Lista de Hospitalizaciones</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID Paciente</th>
        <th>ID Cama</th>
        <th>Motivo de Ingreso</th>
        <th>Fecha de Ingreso</th>
        <th>Sala</th>
        <th>Acciones</th> <!-- Nueva columna para el botón -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of hospitalizations">
        <td>{{ h.paciente }}</td>
        <td>{{ h.cama }}</td>
        <td>{{ h.motivoIngreso }}</td>
        <td>{{ h.fechaIngreso }}</td>
        <td>{{ h.sala }}</td>
        <td class="text-center">
          <!-- antiguo: button class="btn btn-success">Frecuencia</button-->
          <!-- Llama a la función cuando se hace clic -->
          <button class="btn btn-success" (click)="startFrequency(h.paciente)">Frecuencia</button>


          <button class="btn btn-warning">Alerta Respiratoria</button>

        </td>
        
      </tr>
    </tbody>
  </table>
</div>
