<div class="container">
    <h2>Hospitalización</h2>
    <p>Seleccione una cama haciendo clic en ella.</p>

    <div class="form-container">
        <label for="paciente">Seleccione un Paciente:</label>
        <select id="paciente" [(ngModel)]="selectedPatient">
            <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                {{ paciente.rut }} - {{ paciente.primerNombre }} {{ paciente.apellidoPaterno }}
            </option>
        </select>
    </div>
    <br>
    <div class="bed-container">
        <div *ngFor="let cama of camasDisponibles">
            <button
                class="bed-icon"
                [class.selected]="selectedBed === cama"
                (click)="seleccionarCama(cama)"
                [disabled]="cama.ocupada"
            >
                🛏️
            </button>
        </div>
    </div>

    <div class="button-container">
        <button class="assign-bed-button" (click)="asignarCama()" [disabled]="!selectedPatient || !selectedBed">
            Asignar Cama
        </button>
    </div>

    <p *ngIf="mensaje">{{ mensaje }}</p>
</div>
