<div class="container">
  <h2>Asignación de Cama</h2>

  <div>
    <label for="paciente">Seleccione un Paciente:</label>
    <select id="paciente" [(ngModel)]="selectedPatient">
      <option *ngFor="let paciente of pacientes" [value]="paciente.id">
        {{ paciente.rut }} - {{ paciente.primerNombre }} {{ paciente.apellidoPaterno }}
      </option>
    </select>
  </div>

  <div *ngIf="selectedPatient">
    <label for="cama">Seleccione una Cama:</label>
    <select id="cama" [(ngModel)]="selectedBed">
      <option *ngFor="let cama of camasDisponibles" [value]="cama">
        {{ cama }}
      </option>
    </select>
  </div>

  <button (click)="asignarCama()" [disabled]="!selectedPatient || !selectedBed">Asignar Cama</button>

  <p *ngIf="mensaje">{{ mensaje }}</p>
</div>
